@model Azure_0517.Models.Comment
@{
    ViewBag.Title = "CommentBlock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="MyForm" action="~/Restaurant/CommentBlock" method="post">
    @*尚未加入功能*@
    <div class="row" style="height:300px;margin-bottom:30px;margin-top:30px">
        <div class="col-1"></div>
        <div class="col-3" style="background-color:darkorange;border-bottom-left-radius:15px;border-top-left-radius:15px;">
            <p style="text-align:center">施工中</p>
        </div>
        <div class="col-7" style="background-color:orange;border-bottom-right-radius:15px;border-top-right-radius:15px;">
            <div id="divTop" style="margin-top:20px;margin-left:30px;">
            </div>
            <div style="margin-left:30px;margin-bottom:0px;padding-bottom:0;">
                <p style="margin-top:10px">評論內容</p>
                @*@Html.EditorFor(c => Model.Com_Content, new { htmlAttributes = new { @class = "mytext"}})*@
                @Html.TextAreaFor(c => Model.Com_Content, new { @class = "mytext", maxlength = "100"})
            </div>
        </div>

        <div class="col-1" style="padding:0;">
            @*<a class="btn btn-danger" style="margin-left:25%"><i class="fas fa-pen-square"></i>檢舉</a>*@
            <a class="btn btn-success" style="margin-left:10px;" name="send" id="send">送出</a>
            @*@Html.Hidden("", null, new {  })*@
            @Html.Hidden("Com_RestaurantID", (object)ViewBag.RestID, null)
            @Html.Hidden("Com_StarRate", null, new { id = "Com_StarRate" })
        </div>
    </div>
</form>
@section styles{

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <style>
        .n {
            filter: grayscale(1);
        }

        div {
            margin: 0;
            padding: 0;
        }

        .s {
            filter: grayscale(0);
        }

        .mytext {
            height: 95%;
            width: 90%;
            resize: none;
            font-size: x-large;
        }
    </style>


}


@section scripts{
    <script>
        var starnum = 0;
        var starArray = [];

        function mouseIn() {
            for (let i = starnum; i <= this.id.substr(4); i++) {
                //this.id[數字]是指讀到這個字串的第幾個字元
                starArray[i].className = "s";
                document.getElementById("Second").innerText = `評分為${i + 1}分`
            }
        };

        //滑鼠離開
        function mouseOut() {
            for (let i = starnum; i <= this.id.substr(4); i++) {
                starArray[i].className = "n";
            }
            document.getElementById("Second").innerText = `評分為${starnum}分`
        };

        //滑鼠點擊
        function mouseClick() {
            if (starnum - 1 == this.id.substr(4)) {
                for (let i = 0; i <= this.id.substr(4); i++) {
                    //如果點到的格子跟上次點的相同，則會全部註冊事件，讓格子都變回無色
                    document.getElementById(starArray[i].id).addEventListener("mouseover", mouseIn);
                    document.getElementById(starArray[i].id).addEventListener("mouseout", mouseOut);
                    //starArray[i].className = "nocolor";
                }

                document.getElementById("Second").innerText = `評分為${starnum}分`
                starnum = 0;
            }
            else {
                for (let i = 0; i <= starArray.length - 1; i++) {
                    //取消註冊，點到那格之前的格子會取消註冊事件，並且顏色變成彩色
                    document.getElementById(starArray[i].id).removeEventListener("mouseover", mouseIn);
                    document.getElementById(starArray[i].id).removeEventListener("mouseout", mouseOut);
                    starArray[i].className = "s";
                }
                console.log(starnum);
                starnum = Number(this.id.substr(4)) + 1;//字串轉數字相加
                document.getElementById("Second").innerText = `評分為${starnum}分`
                for (let i = starnum; i <= starArray.length - 1; i++) {
                    //點到那格之後的格子會重新再註冊事件，然後把顏色轉空，這時候會使用原本的方案，滑到哪亮到哪
                    document.getElementById(starArray[i].id).addEventListener("mouseover", mouseIn);
                    document.getElementById(starArray[i].id).addEventListener("mouseout", mouseOut);
                    starArray[i].className = "n";
                }
            }
        };

        document.addEventListener("DOMContentLoaded", () => {
            for (let x = 0; x <= 4; x++) {
                document.getElementById("divTop").insertAdjacentHTML("beforeend", `<img class="n" id="Star${x}" src="/tasteitlogo/comStar.png"/>`);
                starArray[x] = document.getElementById(`Star${x}`);
            }
            document.getElementById(`Star4`).insertAdjacentHTML("afterend", `<h1 id="Second">目前尚未評分</h1>`)
        });

        document.addEventListener("DOMContentLoaded", function () {
            for (let star of starArray) {
                document.getElementById(star.id).addEventListener("mouseover", mouseIn);
                document.getElementById(star.id).addEventListener("mouseout", mouseOut);
                document.getElementById(star.id).addEventListener("click", mouseClick);
            }
        });

        $('#send').click(function () {
            document.getElementById("Com_StarRate").value = starnum;
            document.getElementById("MyForm").submit();
        });
    </script>
}