
@{
    ViewBag.Title = "MemberIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MemberIndex</h2>


<!-- Breadcrumbs-->
<ol class="breadcrumb">
    @*<li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Overview</li>*@
</ol>
<!-- Breadcrumbs-- END>
<!-- Icon Cards-->
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">我的問題得到了 1 則新回覆!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("QAShow", "Member")">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-list"></i>
                </div>
                <div class="mr-5">我的食記有 11 則新評論!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("BlogOverview", "Member")">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>


</div>
@*Icon Cards--END>*@