.pagebtn {
    width: 50px;
    height: 50px;
    line-height: 25px;
    border: 5px solid #d6bc45;
    background-color: #f3e7a0;
    border-radius: 40px; /* 高度 */
    font-family: 'Sansita One', cursive;
    font-weight: bolder;
    box-shadow: 3px 5px 5px #ccc;
    outline: none !important;
}

    .pagebtn:hover {
        background-color: gold;
        color: white;
    }

div .pagination-container {
    text-align: center;
}
textarea {
    resize: none;
    height: auto;
}