.reservation-ul {
    overflow-x: auto;
    white-space: nowrap;
}

.newBookli {
    display: inline;
}

.slide-btn {
    height: 30px;
    overflow: hidden;
    display: inline-block;
    margin: 10px 0px;
}

    .slide-btn a {
        background: #4527A0;
        color: #fff;
        font: bold 14px/30px Arial;
        display: block;
        text-align: center;
        text-decoration: none;
        width: 100px;
        height: 30px;
        position: relative;
        top: 0;
        transition: 250ms top, 350ms left;
    }

    .slide-btn.btn-danger a {
        background: #ff0000;
        color: #fff;
        font: bold 14px/30px Arial;
        display: block;
        text-align: center;
        text-decoration: none;
        width: 100px;
        height: 30px;
        position: relative;
        top: 0;
        transition: 250ms top, 350ms left;
    }

    .slide-btn a:before {
        content: attr(data-hover);
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        background: #ffd800;
        height: 30px;
        color: #000;
    }

    .slide-btn a:hover {
        top: -30px;
    }

.reservation-booking .form-control {
    border: 0px;
    border-bottom: 2px solid sandybrown;
}


.blogdel-btn {
    height: 40px;
    overflow: hidden;
    display: inline-block;
    margin: 0px 0px;
    width: 100%;
    padding: 0;
    color: #B4A582
}

.blogdel-btn a {
    font: bold 20px/40px Arial;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 40px;
    position: relative;
    top: 0;
    transition: 250ms top, 350ms left;
}

    .blogdel-btn a:before {
        content: attr(data-hover);
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        background: rgb(233, 91, 91);
        height: 40px;
        color: #fff;
    }

    .blogdel-btn a:hover {
        top: -40px;
    }

.blogup-btn {
    height: 40px;
    overflow: hidden;
    display: inline-block;
    margin: 0px 0px;
    width: 100%;
    padding: 0;
    color: #B4A582
}

    .blogup-btn a {
        color: aliceblue;
        font: bold 20px/40px Arial;
        display: block;
        text-align: center;
        text-decoration: none;
        width: 100%;
        height: 40px;
        position: relative;
        top: 0;
        transition: 250ms top, 350ms left;
    }

        .blogup-btn a:before {
            content: attr(data-hover);
            position: absolute;
            top: 40px;
            left: 0;
            width: 100%;
            background: rgb(105, 135, 115);
            height: 40px;
            color: #fff;
        }

        .blogup-btn a:hover {
            top: -40px;
        }

.bloggo-btn {
    height: 40px;
    overflow: hidden;
    display: inline-block;
    margin: 0px 0px;
    width: 100%;
    padding: 0;
    bottom: 0;
    color: #B4A582
}

    .bloggo-btn a {
        font: bold 20px/40px Arial;
        display: block;
        text-align: center;
        text-decoration: none;
        width: 100%;
        height: 40px;
        position: relative;
        top: 0;
        transition: 250ms top, 350ms left;
    }

        .bloggo-btn a:before {
            content: attr(data-hover);
            position: absolute;
            top: 40px;
            left: 0;
            width: 100%;
            background: rgb(110, 185, 92);
            height: 40px;
            color: #fff;
        }

        .bloggo-btn a:hover {
            top: -40px;
        }

.rbv-btn {
    height: 40px;
    overflow: hidden;
    display: inline-block;
    margin: 0;
    width: 100%;
    padding: 0;
    bottom: 0
}

    .rbv-btn a {
        color: aliceblue;
        font: bold 20px/40px Arial;
        display: block;
        text-align: center;
        text-decoration: none;
        width: 100%;
        height: 40px;
        position: relative;
        top: 0;
        transition: 250ms top, 350ms left;
    }

        .rbv-btn a:before {
            content: attr(data-hover);
            position: absolute;
            top: 40px;
            left: 0;
            width: 100%;
            background: rgb(222, 184, 1);
            height: 40px;
            color: #fff;
        }

        .rbv-btn a:hover {
            top: -40px;
        }
        